/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* RESET */

html, body {
    margin: 0;
    padding: 0;
}





/* NAVIGATION */

header {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid #b8b8b8;
    transition: height .1s linear, background .1s ease-in-out;
}

header.scrolling {
    height: 50px;
    background: #FFF;
}

header img, header h2 {
    margin: 0;
    padding: 0;
}

header > div{
    height: 100px;
    width: 1440px;
    margin: auto;
    position: relative;
}

.headerWrapper {
    position: fixed;
    z-index: 11;
    margin: auto;
    left: 50%;
    margin-left: -720px;
    top: 0px;
    transition: top .1s linear;
}

.headerWrapper.scrolling {
    top: -50px;
}
.topLeft {
    width: 55%;
    height: 99px;
    display: inline-block;
    position: relative;
}

.topLeft > img {
    opacity: .6;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
    display: inline-block;
    position: relative;
    top: 25px;
    transition: top .1s linear;
}

.topLeft > img.scrolling {
    top: 55px;
}

.topLeft img:hover {
    opacity: 1;
}

.topLeft h2 {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 15px;
    font-size: 20pt;
    color: #FFF;
    transition: top .1s linear, color .1s linear, font-size .1s linear;
}

.topLeft h2.scrolling {
    top: 60px;
    color: #000;
    font-size: 16pt;
}

.topLeft h2:hover {
    color: #b8b8b8;
}

.random {
    height: 100px;
    width: 300px;
    float: right;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    text-align: center;
}

.random img {
    display: inline-block;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    position: relative;
    top: 25px;
    opacity: .8;
    transition: top .1s linear;
}

.random img.scrolling {
    top: 50px;
}

.random h3 {
    display: inline-block;
    font-size: 10pt;
    position: relative;
    top: 30px;
    letter-spacing: 1px;
    left: 5px;
    color: #b8b8b8;
    transition: top .1s linear, color .1s linear;
}

.random h3.scrolling {
    top: 55px;
    color: #000;
}

.topRight {
    width: 45%;
    height: 100px;
    float: right;
    display: inline-block;
    position: relative;
}

.topRight div {
    height: 49px;
    border-bottom: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
}


.topRight img {
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
    margin-right: 10px;
    position: relative;
    opacity: .6;
    top: 12px;
    left: 40px;
}

.topRight img:hover {
    opacity: 1;
}

.topRight a {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 100px;
}

.topRight a img {
    transform: scale(1.1);
    position: relative;
    top: -3px;
    left: 10px;
}

.topRight input {
    width: 110px;
    position: relative;
    top: 12px;
    right: -150px;
    border: none;
    background: transparent;
    color: #FFF;
    outline: none;
}

.topRight input + img {
    transform: scale(1);
    position: relative;
    float: right;
    left: -20px;
    transform: rotateY(180deg);
}



.topRight nav {
    height: 49px;
    font-size: 0;
}

.topRight nav ul {
    margin: 0;
    padding: 0;
}

.topRight nav ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 161px;
    height: 50px;
    border-right: 1px solid #b8b8b8;
    position: relative;
    text-align: center;
}

.topRight nav ul li a {
    text-decoration: none;
    position: relative;
    top: 0;
    left: 0;
    height: 49px;
    width: 161px;
}

.topRight nav ul li a:hover {
    background: rgba(255,255,255,.2);
}

.topRight nav ul li a.scrolling:hover {
    background: rgba(100,100,100,.1);
}

.topRight nav span {
    font-size: 10pt;
    letter-spacing: 1px;
    position: relative;
    top: 15px;
}

.topRight nav span.scrolling {
    color: #000;
}


/* hidden menu */


.dropDown {
    height: 0px;
    width: 100%;
    border-bottom: 1px solid #b8b8b8;
    z-index: 9;
    position: fixed;
    top: 100px;
    text-align: center;
    overflow: hidden;
    transition: top .1s linear, height .2s linear;
}

.dropDown.scrolling {
    top: 50px;
    background: #FFF;
}

.dropDown.appear {
    height: 50px;
}

.dropdown.appear.scrolling {
    background: #FFF;
}

.dropDown ul {
    margin: 0;
}

.dropDown ul li {
    list-style: none;
    display: inline-block;
    height: 50px;
    position: relative;
}

.dropDown ul li a {
    height: 50px;
    display: block;
    text-decoration: none;
    color: #FFF;
}

.dropDown ul li a.scrolling {
    color: #000;
}

.dropDown ul li a.scrolling:hover {
    background: rgba(100,100,100,.1);
}


.dropDown ul li a:hover {
    background: rgba(255,255,255,.2);
}

.dropDown span {
    margin: 0;
    position: relative;
    top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10pt;
}


/* BANNER IMAGE */






#banner {
    height: 988px;
    width: 1920px;
    background-image: url(../img/pexels-photo-91988.jpeg);
    background-size: cover;
    position: relative;
    top: 0;
    z-index: -9;

}

#banner h1 {
    color: #FFF;
    margin: auto;
    position: relative;
    top: 400px;
    font-size: 42pt;
    font-weight: 500;
    width: 900px;
    text-align: center;
}

#banner p {
    color: #FFF;
    position: relative;
    top: 450px;
    margin: auto;
    text-align: center;
}

#banner img {
    position: relative;
    top: 425px;
    left: 1105px;
}




/* Wrapper */

#wrapper {
    width: 1440px;
    margin: auto;
    /*background: blue;*/
    height: 6660px;
    position: relative;
}




/* First Section */




.featured {
    width: 1440px;
    height: 877px;
    border-bottom: 1px solid #b8b8b8;
    position: relative;
}

.featured h2 {
    margin: 0;
    text-align: center;
    position: relative;
    top: 80px;
}

.featured > h2 {
    font-size: 25pt;
    font-weight: lighter;
    letter-spacing: 3px;
}

.featured .thumbnail {
    width: 338px;
    height: 213px;
}

.featured article {
    display: inline-block;
    margin-right: 25px;
    height: 314px;
}

.top {
    position: relative;
    top: 100px;
}

.top article:last-of-type {
    margin-right: 0;
    position: relative;
}

.top article:first-of-type {
    position: relative;
}

.thumbnail {
    margin: 0;
}

.top .thumbnail.thumb1 {
    background-image: url(../img/pexels-photo-90819.jpeg);
}

.top .thumbnail.thumb2 {
    background-image: url(../img/pexels-photo-177684.jpeg);
}

.top .thumbnail.thumb3 {
    background-image: url(../img/pexels-photo-24486.jpg);
}

.top .thumbnail.thumb4 {
    background-image: url(../img/pexels-photo.jpg);
}

.thumbnail a {
    height: 213px;
    display: block;
}


.top article h2 {
    width: 338px;
    position: relative;
    top: 20px;
    font-size: 14pt;
    text-align: left;
    font-weight: lighter;
}

.top article h2 a {
    text-decoration: none;
    color: #000;
}

.bottom {
    position: relative;
    top: 120px;
}

.bottom article:last-of-type {
    margin-right: 0;
}

.bottom .thumbnail.thumb1 {
    background-image: url(../img/pexels-photos.jpg);
}

.bottom .thumbnail.thumb2 {
    background-image: url(../img/pexels-photo.png);
}

.bottom .thumbnail.thumb3 {
    background-image: url(../img/pexels-photo-27765.jpg);
}

.bottom .thumbnail.thumb4 {
    background-image: url(../img/pexels-photo-67444.jpeg);
}

.bottom article h2 {
    width: 338px;
    position: relative;
    top: 20px;
    font-size: 14pt;
    text-align: left;
    font-weight: lighter;
}

.bottom article h2 a {
    text-decoration: none;
    color: #000;
}

article.parent p a, article.parent p {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 11pt;
    position: relative;
    top: 5px;
    display: inline-block;
}

article.parent p a:hover {
    color: #000;
}

article.parent img {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}



/* Second , Middle Section */



.middle {
    height: 496px;
    width: 1440px;
    position: relative;
    border-bottom: 1px solid #b8b8b8;
}

.middle div {
    height: 382px;
    width: 575px;
    margin: auto;
}

.middle div a {
    display: block;
    height: 268px;
}

.middle div.element {
    text-align: center;
}

.middle p {
    position: relative;
    top: -25px;
    color: #b8b8b8;
    cursor: pointer;
    display: inline;
    font-size: 10pt;
}

.middle p:hover {
    color: #000;
}

.middle img {
    position: relative;
    top: -25px;
    left: 10px;
}

.left {
    height: 497px;
    width: 719.5px;
    display: inline-block;
    border-right: 1px solid #b8b8b8;
    position: relative;
}

.leftImage div {
    background-image: url(../img/shutters-caribbean-architecture-door-37827.jpeg);
    background-size: cover;
    width: 426px;
    height: 268px;
}

.leftImage h2 {
    font-size: 22pt;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    color: #000;
}

.right {
    height: 497px;
    width: 719.5px;
    float: right;
    display: inline-block;
}

.rightImage div {
    background-image: url(../img/pexels-photo-48632.jpeg);
    background-size: cover;
    width: 426px;
    height: 268px;
}

.rightImage h2 {
    font-size: 22pt;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    color: #000;
}





/* Bulk Section */ 


.bulkWrapper {
    width: 1440px;
    height: 2402px;
    position: relative;
    border-bottom: 1px solid #b8b8b8;
}

.bulkArticles article {
    width: 900px;
    height: 270px;
    margin-top: 50px;
    position: relative;
    float: left;
}

.bulkArticles article div {
    height: 270px;
    width: 472px;
    float: right;
    position: relative;
    text-align: left;
}

.bulkArticles article div h1 {
    font-weight: lighter;
    font-size: 23pt;
    margin-left: 30px;
    margin-top: 45px;
    color: #000;
}

.bulkArticles article div p {
    margin-left: 30px;
    font-size: 10pt;
}

.bulkArticles article div p:last-of-type {
    position: relative;
    top: -20px;
    color: #b8b8b8;
    display: inline-block;
}

.bulkArticles article div p a {
    margin-top: 10px;
    position: relative;
    color: #b8b8b8;
    text-decoration: none;
    font-size: 10pt;
}

.bulkArticles article div p a:hover {
   color: #000;
}

.bulkArticles article div img {
    position: relative;
    bottom: 21px;
    left: 8px;
    display: inline-block;
}




/* aside bar */




.sticky1 {
    width: 454px;
    height: 454px;
    background: purple;
    right: 0;
    top: 50px;
    position: absolute;
}

.sticky2 {
    background: purple;
    width: 454px;
    height: 241px;
    position: absolute;
    top: 539px;
    right: 0;
}



/* After bulk */


#afterBulk {
    width: 1440px;
    height: 400px;
    text-align: center;
}

#afterBulk h2 {
    margin: 0;
    position: relative;
    top: 40px;
    font-size: 23pt;
    font-weight: lighter;
    letter-spacing: 4px;
    color: #000;
}

#afterBulk p:first-of-type {
    position: relative;
    top: 25px;
    color: #222;
}

#afterBulk p:first-of-type a {
    color: #b8b8b8;
}

#afterBulk p:first-of-type a:hover {
    color: #222;
}

#afterBulk p:nth-child(2) {
    color: #222;
    margin-top: 30px;
}

#afterBulk h1 a {
    text-decoration: none;
    color: #000;
    position: relative;
    top: 20px
}

#afterBulk h1 a:hover {
    color: #b8b8b8;
}

#afterBulk div {
    width: 1440px;
    height: 235px;
    position: relative;
}

#afterBulk div p {
    width: 950px;
    font-size: 16pt;
    margin: auto;
}



/* big bottom image */

.bottomImage {
    margin-top: 40px;
}



/* social media section*/

.socialMedia {
    width: 1440px;
    height: 292px;
    background: #f2f2f2;
    margin-top: 70px;
}

.socialMedia h1 , .socialMedia p {
    margin: 0;
    position: relative;
    left: 50px;
    top: 50px;
}

.socialMedia p {
    margin-top: 15px;
    font-size: 18pt;
    font-weight: lighter;
    width: 700px;
}



/* Popular section */



.popular {
    width: 1440px;
    height: 400px;
    margin-top: 70px;
    position: relative;
}

.popular h1 {
    margin: 0;
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: center;
}

.popular article {
    display: inline-block;
    height: 314px;
    width: 338px;
    margin-right: 25px;
    position: relative;
    top: 42px;
}

.popular article p {
    position: relative;
    bottom: 20px;
    color: #b8b8b8;
    display: inline-block;
}

.popular article p a {
    text-decoration: none;
    color: #b8b8b8;
}

.popular article p a:hover {
    color: #000;
}

.popular article h2 {
    font-size: 14pt;
    font-weight: lighter;
}

.popular article:last-of-type {
    margin-right: 0;
}

.popular img {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 5px;
}

.popular .thumbnail.thumb5 {
    background-image: url(../img/Cabins/Popular/pexels-photo-175997.jpeg);
}

.popular .thumbnail.thumb6 {
    background-image: url(../img/Cabins/Popular/pexels-photo-30823.jpg);
}

.popular .thumbnail.thumb7 {
    background-image: url(../img/Cabins/Popular/pexels-photo-24482.jpg);
}

.popular .thumbnail.thumb8 {
    background-image: url(../img/Cabins/Popular/pexels-photo-42152.jpeg);
}




/* Donate Section */



.donate {
    width: 1440px;
    height: 292px;
    background: #f2f2f2;
    margin-top: 70px;
}

.donate h1 , .donate p {
    margin: 0;
    position: relative;
    left: 50px;
    top: 50px;
}

.donate p {
    margin-top: 15px;
    font-size: 18pt;
    font-weight: lighter;
    width: 900px;
}


/* Footer */


footer {
    width: 1440px;
    height: 135px;
    text-align: center;
    position: relative;
    top: 50px;
}

footer p {
    font-size: 12pt;
}

footer p:first-of-type {
    margin: 0;
}

footer p:nth-child(2) {
    position: absolute;
    right: 0;
    top: -15px;
}

footer p:nth-child(4) {
    position: relative;
    top: -15px;
}

footer p a {
    text-decoration: none;
    color: #b8b8b8;
}

footer p a:hover {
    color: #000;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.parent {
    overflow: hidden;
}

/* vertical center anything*/

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
